# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV="development"

DATABASE_URL="postgresql://iotdev:123456@localhost:5432/iotdevdb?schema=public"
PORT=8080

WHITELIST_DOMAINS="http://localhost:5173,"
ACCESS_TOKEN_PRIVATE_KEY="9UwdD43EuDi52f0XoiOe+ZGDO2zb9Ab+4luW/hI75s0="
REFRESH_TOKEN_PRIVATE_KEY="EezODPKjAdzky1tCROEQPdCJnpVOe2J3+cYfaJuZiMM="
IOT_HUB_CONNECTION_STRING="",
EVENT_HUB_CONNECTION_STRING=""
EVENT_HUB_NAME="iot-hub-lola"