@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    @apply cursor-pointer rounded-full bg-primary px-4 py-2 font-medium text-white hover:shadow-inner hover:shadow-slate-100;
}
